.cell {
    composes: cell from './shared/cell.css';
}

.sortable {
    cursor: pointer;
}

.sortArrow {
    width: 16px;
    height: 16px;
    background-image: url('images/ui-icons_222222_256x240.png');
    background-position: -64px -16px;
    display: block;
    float: right;
    margin: 0 4px 0 5px;
    height: 12px;
}

.sortArrowUp {
    background-position: 0px -16px;
}

.sortArrowDown {
}
