@import './shared/variables.css';

.navigation {
}

.arrow {
}

.pageLink {
	cursor: pointer;
	font-weight: bold;
	padding: 0 4px;
}

.pageLinks {
}

.pageSkip {
}

.pagination {
	display: flex;
	justify-content: space-between;
}

.status {
}

.disabled {
	color: var(--disabled-text-color);
	cursor: default;
}
