.navigation {
}

.next {
}

.pageLink {
	cursor: pointer;
	font-weight: bold;
	padding: 0 4px;
}

.pageLinks {
}

.pageSkip {
}

.pagination {
}

.previous {
}

.status {
}

.disabled {
	cursor: default;
}
